.tombol {
    border: 1px solid #67809F;
    border-radius: 10px;
    background: transparent;
    color: #2E3131;
    font-size: 0.8rem;
}

.output {
    overflow: hidden;
    overflow-y:auto;
    width: 70%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
