<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'homecss.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <section id="testimoni" class="container-fluid p-0 h-75" style="background: #EFEFEF;">

        {% include 'nav.html' %}
        <div class="landing" id="landing">
            <div class="text-center">
                <img  src="{% static 'img/warungTeka.svg' %}" alt="nope" width="450" height="120">
                <p>Ciptakan Kemudahan Berekenomi dengan Pendekatan Teknologi</p>
                <p>Login untuk menambahkan warung anda!</p>
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </section>
{% endblock %}
