{% extends 'base.html' %}
{% load static %}

{% block title %}warungTeka{% endblock %}

{% block style %}
    <link href="{% static 'homecss.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <section id="testimoni" class="container-fluid p-0 h-75" style="background: #EFEFEF;">

        {% include 'nav.html' %}
        <div class="landing" id="landing">
            <div class="text-center">
                {% if user.is_authenticated %}
                <h1>
                    <p>Hi {{ user.username }}
                </h1>
                <p><a href="{% url 'logout' %}">Log out</a></p>
                {% else %}
                <img  src="{% static 'img/warungTeka.svg' %}" alt="nope" width="450" height="120">
                <p>Ciptakan Kemudahan Berekenomi dengan Pendekatan Teknologi</p>
                <h1>
                <p><a href="{% url 'login' %}">Log In </a></p>
                </h1>
                <p><p>Don’t have account?</p><a href="{% url 'signup' %}">Sign Up</a></p>
                {% endif %}
            </div>
        </div>
        {% include 'footer.html' %}
    </section>
{% endblock %}