<!-- templates/signup.html -->
<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'homecss.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <section id="testimoni" class="container-fluid p-0 h-75" style="background: #EFEFEF;">

        {% include 'nav.html' %}
        <!-- templates/signup.html -->
        <div class="lead">
            <h1 class="display-4">Sign Up</h1>
            <h2 class="lead">Please enter your data</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        </div>
        {% include 'footer.html' %}
    </section>
{% endblock %}
