{% extends 'base.html' %}
{% load static %}

{% block title %}Cari Produk - warungTeka{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'searchcss.css' %}">
{% endblock %}

{% block content %}
    <section style="background: url({% static 'imgclock.jpg' %}) no-repeat center center fixed; display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;">
        {% include 'nav.html' %}
        <h4 id="titleSearch">Cari warung terdekat untuk kebutuhan sehari - harimu </h4>

        <div class="row justify-content-center">
            <div class="col-8">
                <div class="container" id="form">
                    <form method="POST" style="margin: 0 auto;width:100%;text-align: center">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.namaProduk }}
                        </div>
                        <div class="form-group row">
                            <label class="labellokasi col-sm-1 col-form-label">Lokasi:</label>
                            <div class="col-sm-11">{{ form.lokasi }}</div>
                        </div>
                        <button type="submit" class="btn btn-primary float-md-right" id="buttonCari">Cari Produk
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4 table-wrapper-scroll-y my-custom-scrollbar" id="searchHistory">
                    <table class="table table-borderless">
                        <tr>
                            <td><h5 id="fontSemibold">Pencarian Terakhir</h5></td>
                        </tr>
                        {% for obj in searchObjects %}
                            <tr>
                                <td>{{ obj.namaProduk }} di {{ obj.lokasi }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>


                <div class="col-8 table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-borderless">
                        <tr><td>Menampilkan produk <span id="fontSemibold">{{ queryNama }}</span> di <span id="fontSemibold">{{ queryLokasi }}</span>:</td></tr>
                        {% for barang in barangFiltered %}
                            <tr style="line-height: 1.2em;">
                                <td style="background-color: #ffffff;"><p id="fontSemibold" style="font-size: x-large;color: #fed153;">{{ barang.warung.name }}</p><p>{{ barang.warung.address }}</p></td></tr>
                            <tr><td></td></tr>
                            {% empty %} <tr style="line-height: 1.2em;"><td>Maaf, tidak ditemukan warung terdekat untuk produk tersebut.</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </section>
{% endblock %}