{% extends 'base.html' %}
{% load static %}

{% block title %}Add warung - warungTeka{% endblock %}

{% block content %}
    <section id="testimoni" class="container-fluid p-0 h-75" style="
        background: url({% static 'mybg.jpg' %});
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;">

        {% include 'nav.html' %}

        <div class="row">
            <div class="col">
                <h2 class="text-center text-dark font-weight-bold my-5">Add Warung</h2>
            </div>
        </div>
        

        <div class="row h-75">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <div class="row w-75 h-75" style="background: #FDE3A7; border-radius: 24px;">
                    <div class="col">
                        <!-- form testimoni -->
                        <form class="d-flex flex-column" method="POST" action="/addwarung/">
                            {% csrf_token %}
                            <div>
                                <div style="margin-top: 10px">
                                    <label for="addschedule">Nama Warung:</label>
                                </div>
                                <div>
                                    <input style="border-radius: 5px; width: 90%;" type="text" name="name" value="{{ current_name }}" required>
                                </div>
                            </div>
                            <div>
                                <div style="margin-top: 10px">
                                    <label for="addschedule">Alamat Warung:</label>
                                </div>
                                <div>
                                    <input style="border-radius: 5px; width: 90%;" type="text" name="address" value="{{ current_address }}" required>
                                </div>
                            </div>
                            <div>
                                <div style="margin-top: 10px">
                                    <label for="addschedule">Tambah Barang:</label>
                                    <img style="height: 30px;" src="{% static 'add.png' %}" href="#"  id="filldetails" onclick="addFields()">
                                </div>
                                <div style="max-height: 270px; width: 100%; overflow-y: auto;">
                                    <input style="border-radius: 5px; width: 90%;" type="text" id="member" name="member" value="" required><br />
                                    <div id="isimember"></div>
                                </div>
                            </div>
                            <button type="submit" value="Submit" class="btn btn-primary mx-auto" style="
                            border: 1px solid #67809F;
                            border-radius: 10px;
                            background: transparent;
                            color: #2E3131;
                            font-size: 0.8rem;
                            margin-top: 30px;
                            ">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </section>
{% endblock %}

{% block script %}
    <script type='text/javascript'>
        function addFields(){
            var nyak = document.getElementById('isimember').children.length;
            $('#isimember').append('<div style="margin-top: 10px;"><input style="width:90%; border-radius: 5px;" type="text" name="member' + nyak + '" /></div>')
        }

    </script>
{% endblock %}