.landing {
  font-family: 'Roboto';
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lead {
  font-family: 'Roboto';
  margin-top: 30px;
  margin-bottom: 70px;
  margin-right: 30px;
  margin-left: 80px;
}