#backgroundclock {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#searchHistory {
    background-color: #ffffff;
    border: 1px solid #6c757d;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#buttonCari {
    border: 1px solid #67809F;
    border-radius: 10px;
    background: transparent;
    color: #2E3131;
    font-size: 0.8rem;
}

#fontSemibold, #titleSearch {
    font-family: 'Open Sans SemiBold', sans-serif;
}

#titleSearch {
    text-align: center;
    margin: 1em;
}

.labellokasi {
    font-family: 'Open Sans SemiBold', sans-serif;
    color: #6c757d;
    background-color: #ffffff;
    font-size: 1em;
    padding: 1px;
    border-radius: 3px;
    vertical-align: middle;
}
tr {
    line-height: 0.3em;
    font-size: small;
}

