{% load static %}
<!-- header-navbar
    ====================================================================== -->
<nav class="navbar sticky-top navbar-expand-md navbar-light px-3 py-0" style="background: #FDE3A7;">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/warungTeka.svg' %}" alt="nope" width="150" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'search' %}">Cari Produk</a>
      <a class="nav-item nav-link" href="{% url 'addwarung' %}">Tambah Warung</a>
      <a class="nav-item nav-link" href="{% url 'testimoni' %}">Testimoni</a>
    </div>
  </div>
</nav>
