{% extends 'base.html' %}
{% load static %}

{% block title %}404 - warungTeka{% endblock %}

{% block content %}

    <section class="container-fluid h-100" style="background: #eb976d;">
        <div class="row h-100">
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <span style="
                    color: white;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 288px;
                    line-height: 250px;
                    letter-spacing: 0.15em;
                    ">
                    <span style="color:#67809F;">4</span>0<span style="color: #67809F;">4</span>
                </span>
                <hr class="my-3" style="
                    width: 50%;
                    border: 1px solid #ECECEC;
                    border-style: inset;
                    margin: 12px auto;">
                <h5 class="mt-3 mb-1" style="margin: 0;
                    font-weight: lighter;
                    font-size: 2rem;
                    letter-spacing: 0.15em;
                    color: white;">Telah terjadi kesalahan</h5>
                <span style="margin: 0;
                    font-weight: lighter;
                    font-size: 1rem;
                    letter-spacing: 0.15em;
                    color: white;">{{ request.path }} tidak ada atau tidak ditemukan</span>
                <a role="button" href="{% url 'home' %}" class="btn btn-primary mx-auto mt-3" style="
                    border: 1px solid #67809F;
                    border-radius: 10px;
                    background: transparent;
                    color: white;
                    font-size: 0.8rem;">
                    Ke Beranda
                </a>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}

{% endblock %}
