{% extends 'base.html' %}
{% load static %}

{% block title %}Testimoni - warungTeka{% endblock %}

{% block style %}
    <link href={% static 'css/testi.css' %} rel="stylesheet">
{% endblock %}

{% block bodyline %}background: #EFEFEF;{% endblock %}

{% block content %}
    <section id="testimoni" class="container-fluid p-0 h-75" style="
    background: url({% static 'img/banana.jpg' %});
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;">

        {% include 'nav.html' %}

        <div class="row">
            <div class="col">
                <h2 class="text-center text-dark font-weight-bold my-5">Testimoni</h2>
            </div>
        </div>
        <div class="row h-75 ml-5" style="max-height: 75%;">

            <div class="col-md-4 d-flex p-0 flex-column align-items-center">
                <div class="row w-75" style="background: #FDE3A7; border-radius: 24px;">
                    <div class="col m-2">
                        <!-- form testimoni -->
                        <form class="d-flex flex-column" method="POST">
                            <p class="w-100 justify-content-center my-1">Hello, <span style="color: #67809F;">{{ user.username }}</span>!</p>
                            {% csrf_token %}
                            {% for field in form %}
                                <p class="w-100 justify-content-center my-1">{{ field.label }}: <br> {{ field }}</p>
                            {% endfor %}
                            <button type="submit" value="Submit" class="tombol btn btn-primary mx-auto my-2">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a role="button" href="{% url 'listwarung' %}" class="tombol btn btn-primary mx-auto my-3">
                            Cek Warung
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-8 p-0" style="max-height: 100%;">
                <div class="output row bg-white m-auto h-75" style="width: 70%;";>
                <!-- output testimoni -->
                {% for i in testimoni %}
                    <div class="col-12 m-auto m-3 p-2">
                            <div class="card-body" >
                                <h4 class="card-title" style="color: #FED153;">{{ i.warung }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">by {{ i.user }} on {{ i.waktu }}</h6>
                                <p class="card-text">{{ i.pesan }}</p>
                                {% if user.username == i.user %}
                                    <form method="POST" action="{% url 'testimoni' %}">
                                        {% csrf_token %}
                                        <input name="id" value="{{i.id}}" type="hidden">
                                        <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                    </div>
                {% endfor %}
                </div>
            </div>

        </div>

        {% include 'footer.html' %}
    </section>
{% endblock %}
